<!--  [[]] 대괄호 2개사이에 ${모델명.모델속성}을 사용하는 방법도 있다  -->
<h1>[[${question.content}]]</h1>
<h2>[[${question.subject}]]</h2>
<hr>


<div th:if="${#lists.size(answerList) > 0}">
<h1 th:text="|${#lists.size(answerList)}개의 답변이 있습니다.|"></h1>
	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>내용</th>
			<th>작성일시</th>
		</tr>
		</thead>
		<tbody>
		        <tr th:each="answer : ${answerList}">
		        <td th:text="${answer.id}"></td>
	            <td th:text="${answer.content}"></td>
	            <td th:text="${answer.createDate}"></td>
	        </tr>
	    </tbody>
    </table> 
</div>

<div th:unless="${#lists.size(answerList) > 0}">
<p>등록된 답변이 없습니다.</p> 
</div>
