<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LIST</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <style>
    a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<body>

<div class="mb-3 p-2">
  <table class="table table-hover">
    <thead>
      <tr>
      <th scope="col">번호</th>
      <th scope="col">게시글 제목</th>
      <th scope="col">작성일시</th>
      </tr>
    </thead>
    <tbody>


    <!-- 게시글 리스트 -->
    <tr th:each="get_entity : ${model_entitys}">
      <th scope="row" th:text="${get_entity.id}">    </th>
      <td><a th:href="'/list/'+${get_entity.id}" th:text="${get_entity.title}"></a></td>
      <td th:text="${get_entity.createAt}"></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <a th:href="@{/list(page = 0)}"><button class="btn btn-outline-secondary m-2"> 처음 </button></a>
    <a th:if="${nowPage > first+1}" th:href="@{/list(page = ${nowPage} - 2)}"><button class="btn btn-outline-secondary m-2"> < </button></a>

    <!-- 페이징 처리 -->
    <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
      <!-- 페이지가 다를때-->
      <a th:if="${page != nowPage}" th:href="@{/list(page = ${page - 1})}" th:text="${page}" class="btn btn-outline-secondary m-2" style="min-width: 50px; border: none;"> </a>
      <!-- 같은 페이지일때 -->
      <strong th:if="${page == nowPage}" th:text="${page}" class="btn btn-info m-2" style="min-width: 50px">
        ></button>
      </strong>
    </th:block>

      <a th:if="${nowPage <= last}" th:href="@{/list(page = ${nowPage})}"> <button class="btn btn-outline-secondary m-2"> > </button> </a>
      <a th:href="@{/list(page = ${last})}"> <button class="btn btn-outline-secondary m-2"> 끝 </button> </a>


  </div>


  <!-- 버튼 -->
  <p style="margin-bottom: 50px"></p>
  <a href="/write"><button class="btn btn-primary mt-5">글쓰기</button></a>
  </div>

</body>
</html>